@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
  margin: 0;
  padding: 0;
  background-image: url('wp9142232.webp'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #8b0b9c;
  box-shadow: 0 20px 40px rgba(13, 198, 13, 0.2);
}

.game-details {
  color: #e8ebf1;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #11e2aa;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  background: #3f19e7;
}

.play-board .head {
  background: #d40c2d;
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #b8c6dc;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171b26;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }

  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }

  .controls {
    display: flex;
  }

  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
